Source: canaima-estilo-visual-iconos
Section: misc
Priority: optional
Maintainer: Carlos Alejandro Guerrero Mora <guerrerocarlos@gmail.com>, Diego Alberto Aguilera Zambrano <diegoaguilera85@gmail.com>, Luis Alejandro Martínez Faneyth <martinez.faneyth@gmail.com>, Francisco Javier Vásquez Guerrero <franjvasquezg@gmail.com>
Build-Depends: debhelper, cdbs
Standards-Version: 3.7.3
Homepage: http://canaima.softwarelibre.gob.ve/

Package: canaima-estilo-visual-iconos
Architecture: all
Replaces: canaima-estilo-visual (<< 2.0.5)
Description: Estilo visual de Canaima GNU/Linux
 Este paquete provee los iconos para el estilo visual
 de Canaima GNU/Linux.
