Source: canaima-estilo-visual-iconos-gnome
Section: misc
Priority: optional
Maintainer: Equipo de Desarrollo de Canaima GNU/Linux <desarrolladores@canaima.softwarelibre.gob.ve>
Uploaders: Sasha Veronica Solano Grosjean <sashasolano@gmail.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: http://canaima.softwarelibre.gob.ve/
Vcs-Git: git://gitorious.org/canaima-gnu-linux/canaima-estilo-visual-iconos-gnome.git
Vcs-Browser: http://gitorious.org/canaima-gnu-linux/canaima-estilo-visual-iconos-gnome/trees/master

Package: canaima-estilo-visual-iconos-gnome
Architecture: all
Depends: hicolor-icon-theme, libgtk2.0-bin, librsvg2-common, ${shlibs:Depends}, ${misc:Depends}
Conflicts: canaima-estilo-visual-iconos (<< 3.1), gnome-icon-theme (<< 3), dmz-cursor-theme (<< 1)
Replaces: canaima-estilo-visual-iconos (<< 3.1), gnome-icon-theme (<< 3), dmz-cursor-theme (<< 1)
Provides: canaima-estilo-visual-iconos, gnome-icon-theme, dmz-cursor-theme
Description: Iconos del estilo visual de Canaima GNU/Linux
 Este paquete provee los iconos para el estilo visual
 de Canaima GNU/Linux.

Package: canaima-estilo-visual-iconos
Architecture: all
Depends: canaima-estilo-visual-iconos-gnome (>= 3.1), ${shlibs:Depends}, ${misc:Depends}
Description: Paquete transicional canaima-estilo-visual-iconos -> canaima-estilo-visual-iconos-gnome
 Esto es un paquete transicional para que los usuarios puedan
 actualizar de canaima-estilo-visual-iconos a canaima-estilo-visual-iconos-gnome sin muchos
 problemas. Puede ser removido.

Package: gnome-icon-theme
Architecture: all
Depends: canaima-estilo-visual-iconos-gnome (>= 3.1), ${shlibs:Depends}, ${misc:Depends}
Description: Paquete transicional gnome-icon-theme -> canaima-estilo-visual-iconos-gnome
 Esto es un paquete transicional para que los usuarios puedan
 actualizar de gnome-icon-theme a canaima-estilo-visual-iconos-gnome sin muchos
 problemas. Puede ser removido.

Package: dmz-cursor-theme
Architecture: all
Depends: canaima-estilo-visual-iconos-gnome (>= 3.1), ${shlibs:Depends}, ${misc:Depends}
Description: Paquete transicional dmz-cursor-theme -> canaima-estilo-visual-iconos-gnome
 Esto es un paquete transicional para que los usuarios puedan
 actualizar de dmz-cursor-theme a canaima-estilo-visual-iconos-gnome sin muchos
 problemas. Puede ser removido.

